<ion-view class="red" view-title="YouTube Playlists" cache-view="false">
  <ion-content>
    <ion-list ng-cloak>
      <ion-item ng-repeat="playlist in $ctrl.playlists" class="item-remove-animate" on-hold="$ctrl.showActions(playlist)">

        <playlistcard id="{{playlist.id}}" snippet="playlist.snippet" status="playlist.status" remove-playlist="$ctrl.removePlaylist(playlistId)" share-playlist="$ctrl.share(playlistId)"></playlistcard>

      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-assertive">
    <div class="buttons">
      <div class="buttons pull-right">
        <button ng-click="$ctrl.addPlaylist()" class="button button-icon ion-plus"> Add Playlist</button>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>