<div class="list card">
  <div class="item item-avatar">
    <img ng-src="{{$ctrl.snippet.thumbnails.high.url | dummythumb}}">
    <h2>{{$ctrl.snippet.title || '&nbsp;'}}</h2>
    <p>{{$ctrl.snippet.publishedAt| date : 'longDate'}}</p>
    <div class="card-icon-holder">
      <i class="icon" ng-class="$ctrl.status.privacyStatus === 'public' ? 'ion-eye' : 'ion-eye-disabled'" title="{{$ctrl.status.privacyStatus | capitalize}}"></i>
    </div>
  </div>

  <div class="item item-body">
    <img class="full-image" ng-src="{{$ctrl.snippet.thumbnails.high.url | dummythumb}}">
    <div class="button-container">
      <a class="subdued" ui-sref="playlist.edit({playlistId: $ctrl.id})">Edit</a>                       
      <a ng-href class="subdued" ng-click="$ctrl.removePlaylist({playlistId: $ctrl.id})">Delete</a>
      <button ng-href class="button-icon icon ion-android-share-alt" ng-click="$ctrl.sharePlaylist({playlistId: $ctrl.id})" ng-disabled="$ctrl.status.privacyStatus !== 'public'"></button>
    </div>
  </div>
</div>