<div class="list card">

  <div class="item item-avatar">
    <img ng-src="{{$ctrl.video.snippet.thumbnails.high.url | dummythumb}}">
    <h2>{{$ctrl.video.snippet.title || '&nbsp;'}}</h2>
  </div>

  <div ng-switch on="$ctrl.isSearch">
    <div class="animate-switch" ng-switch-when="true">
      <div class="item item-body">
        <a ng-href ng-click="$ctrl.selectVideo(video)">
          <img class="full-image" ng-src="{{$ctrl.video.snippet.thumbnails.high.url}}">
        </a>
        <p class="button-container">                        
          <a ng-href class="subdued" ng-click="$ctrl.selectVideo({video: $ctrl.video})">Add</a>
          <a ng-href class="subdued" ng-click="$ctrl.playVideo({video: $ctrl.video})">Play</a>
        </p>
      </div>
    </div>
    <div class="animate-switch" ng-switch-default>
      <div class="item item-body">
        <img class="full-image" ng-src="{{$ctrl.video.snippet.thumbnails.high.url}}">
        <p class="button-container">                        
          <a ng-href class="subdued" ng-click="$ctrl.removeVideo({video: $ctrl.video})">Delete</a>
          <a ng-href class="subdued" ng-click="$ctrl.playVideo({video: $ctrl.video})">Play</a>
        </p>
      </div>
    </div>
  </div>    

</div>